{% extends '::frontal.html.twig' %}


{% block article %}

<div class="container">

    <div class="logo-header">
        <h1>Nens Que Fem</h1>
        <p>Cercar d'activitats per a nens.</p>
   </div>

    <div class="show-div">
        <form action="{{ path('NQFFrontBundle_search') }}" method="post" {{ form_enctype(form_search) }}>
            {{ form_errors(form_search) }}

            <div class="row">
                <div class="span3">
                    {{ form_row(form_search.category) }}
                </div>
                <div class="span3">
                    {{ form_row(form_search.city) }}
                </div>
                <div class="span3">
                    {{ form_label(form_search.date_from) }}
                    {{ form_errors(form_search.date_from) }}
                    {{ form_widget(form_search.date_from, { 'attr': {'class': 'datepicker'} }) }}

                    {{ form_label(form_search.date_up) }}
                    {{ form_errors(form_search.date_up) }}
                    {{ form_widget(form_search.date_up, { 'attr': {'class': 'datepicker'} }) }}
                </div>

                <div class="span3">
                    {{ form_row(form_search.years) }}
                </div>

            </div>

            <div class="row">
               <div class="span3 offset9">
                   <button type="submit" class="btn btn-large btn-primary">Search</button>
                </div>
            </div>




        </form>
    </div>


    <hr>

    <footer>
        <p>&copy; Company 2012</p>
    </footer>

</div> <!-- /container -->


<script type="text/javascript">
    var startDate = new Date();

    $(document).ready(function() {
        $('.datepicker').datepicker({
                        'format': 'dd-mm-yy',
                        'weekStart': 1

        });
    });
</script>

{% endblock %}
